.container_1 {
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1.25rem 0 1.25rem 0;
  box-shadow: 0 0.25rem 0.5rem #e6edef;
  transition: all 0.5s ease;

  padding: 1.5rem;
  width: 100%;
}

h2 {
  color: #663671;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  color: #663671;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.3s;
  &.is-invalid {
    border-color: #dc3545;
  }
}

.form-control:focus {
  border-color: #663671;
  box-shadow: 0 0 0 0.2rem rgba(102, 54, 113, 0.25);
}
.invalid-feedback {
  color: #dc3545;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.btn {
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #663671;
  border-color: #663671;
  color: #fff;
}

.btn-primary:hover {
  background-color: #53275d;
  border-color: #53275d;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.alert {
  border-radius: 0.25rem;
  display: flex;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  align-items: center;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.spinner-border {
  color: #fff;
}

.mt-3 {
  margin-top: 1rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-9 {
  flex: 0 0 65%;
  max-width: 65%;
}
.col-md-3 {
  flex: 0 0 35%;
  max-width: 35%;
}

.table-container {
  flex: 0 0 55%;
  max-width: 55%;
  padding-left: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #663671;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
