$primary-color: #663671;
$secondary-color: #53275d;
$hover-color: #b543ce;
$background-color: #fff;
$border-color: #ced4da;
$text-color: #8690a3;
$alert-success-bg: #d4edda;
$alert-success-border: #c3e6cb;
$alert-success-text: #155724;
$alert-danger-bg: #f8d7da;
$alert-danger-border: #f5c6cb;
$alert-danger-text: #721c24;
$box-shadow-color: #8992a3;
