<div class="container_1">
  <h2>Dashboard</h2>

  <div class="card">
    <div class="card-head">
     <h2> Usuarios con más sorteos acumulados</h2>
    </div>
    <div class="card-body">
      <canvas baseChart
              [data]="userRafflesData"
              [labels]="userRafflesLabels"
              [type]="userRafflesType">
      </canvas>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
    <h2> Cantidad de números asignados por usuario</h2>
    </div>
    <div class="card-body">
      <canvas baseChart
              [data]="userNumbersData"
              [labels]="userNumbersLabels"
              [type]="userNumbersType">
      </canvas>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      <h2>Sorteos por cliente</h2>
    </div>
    <div class="card-body">
      <canvas baseChart
              [data]="clientRafflesData"
              [labels]="clientRafflesLabels"
              [type]="clientRafflesType">
      </canvas>
    </div>
  </div>
</div>
