<div class="container_1">
  <h2>Dashboard</h2>

  <div class="card">
    <div class="card-head">
      Usuarios con más sorteos acumulados
    </div>
    <div class="card-body">
      <canvas baseChart
              [data]="userRafflesData"
              [labels]="userRafflesLabels"
              [type]="userRafflesType">
      </canvas>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      Cantidad de números asignados por usuario
    </div>
    <div class="card-body">
      <canvas baseChart
              [data]="userNumbersData"
              [labels]="userNumbersLabels"
              [type]="userNumbersType">
      </canvas>
    </div>
  </div>

  <div class="card">
    <div class="card-head">
      Sorteos por cliente
    </div>
    <div class="card-body">
      <canvas baseChart
              [data]="clientRafflesData"
              [labels]="clientRafflesLabels"
              [type]="clientRafflesType">
      </canvas>
    </div>
  </div>
</div>
